.chakra {
  position: relative;
}

.App {
  border: 1px solid black;
  width: max-content;
}

.icon-user {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.input-group {
  width: 400px;
  padding: 10px 10px 0px 10px;
}